@import "colors";

:root{
  --mdc-theme-primary: #{$color-primary};
  --mdc-theme-secondary: #{$color-secondary};
  --mdc-theme-background: #{$color-background};
  --mdc-theme-surface: #{$color-surface};
  --mdc-theme-error: #{$color-error};
  --mdc-theme-on-primary: #{$color-on-primary};
  --mdc-theme-on-secondary: #{$color-on-secondary};
  --mdc-theme-on-surface: #{$color-on-surface};
  --mdc-theme-on-error: #{$color-on-error};
  --mdc-theme-text-primary-on-background: #{$color-text-primary-on-background};
  --mdc-theme-text-secondary-on-background: #{$color-text-secondary-on-background};
  --mdc-theme-text-hint-on-background: #{$color-text-hint-on-background};
  --mdc-theme-text-disabled-on-background: #{$color-text-disabled-on-background};
  --mdc-theme-text-icon-on-background: #{$color-text-icon-on-background};
  --mdc-theme-text-primary-on-light: #{$color-text-primary-on-light};
  --mdc-theme-text-secondary-on-light: #{$color-text-secondary-on-light};
  --mdc-theme-text-hint-on-light: #{$color-text-hint-on-light};
  --mdc-theme-text-disabled-on-light: #{$color-text-disabled-on-light};
  --mdc-theme-text-icon-on-light: #{$color-text-icon-on-light};
  --mdc-theme-text-primary-on-dark: #{$color-text-primary-on-dark};
  --mdc-theme-text-secondary-on-dark: #{$color-text-secondary-on-dark};
  --mdc-theme-text-hint-on-dark: #{$color-text-hint-on-dark};
  --mdc-theme-text-disabled-on-dark: #{$color-text-disabled-on-dark};
  --mdc-theme-text-icon-on-dark: #{$color-text-icon-on-dark};
}
